* {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin: 0 !important;
}

/* mainArea */
.houseArea {
  margin: 110px auto 0;
  /* margin-right: 80px;
  margin-left: 80px; */
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1130px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 16px;
  height: 900px;
}

.lackOfFavorite {
  margin-top: 20px !important;
  margin-right: 80px !important;
  margin-left: 80px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  font-size: 36px;
  font-weight: Bold;
}

.houseItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 380px;
}

.houseImgContainer {
  border-radius: 25px;
  width: 301px;
  height: 301px;
  position: relative;
}

.houseImgContainer > img {
  border-radius: 25px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.like {
  position: absolute;
  top: 15px;
  right: 15px;
}

.changePage_con {
  justify-content: center;
}

.changePage_outter {
    width: 100%;
    position: absolute;
    bottom: 48px;
  
  /* padding-bottom: 50px; */
}

/* @media only screen and (max-width: 1400px) {
  .houseArea {
    grid-template-columns: repeat(3, 1fr);
  }
} */
