* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: black !important;
  cursor: pointer !important;
}

p {
  margin: 0 !important;
}

/* navbar */
nav {
  display: flex !important;
  /* align-items: center; */
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
}

nav > div {
  margin: 0 10px;
}

.logoContainer {
  display: flex;
  height: 47px;
  align-items: center;
}

.Nlogo {
  width: 33px;
  height: 33px;
}

.mainSearch {
  display: flex;
  align-items: center;
  /* height: 51px; */
  padding: 5px 30px;
  margin: auto;
  border: 1px solid black;
  border-radius: 50px;
}

/* .mainSearch>form{
    display: flex;
} */

.mainSearch input {
  display: inline-block;
  width: 120px;
  line-height: 28px;
  /* font-size: 24px; */
  border: 0;
  outline: none;
}

.mainSearch p {
  padding: 0 10px;
  font-size: 2rem;
}

.detailSearch {
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.detailSearch > a {
  text-decoration: none;
  display: inline-block;
  height: 37px;
  line-height: 37px;
}

.searchIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.landlordContainer {
  height: 47px;
  line-height: 47px;
  cursor: pointer;
}

.hamburgerContainer {
  height: 47px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburgerContainer > img {
  width: 36px;
  line-height: 36px;
}

.PAHide {
  display: none;
  position: absolute;
  top: 95px;
}

.PAShow {
  background-color: #d5d9d4;
  border-radius: 20px;
  position: absolute;
  top: 95px;
}

.PA > div {
  margin: 40px 10px;
}

.peopleBtnContainer {
  display: flex;
  justify-content: end;
}

.peopleBtn {
  border-radius: 5px;
  padding: 10px 24px;
}

.personalArea {
  width: 200px;
}

.personalArea > div {
  margin: 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.personalArea > div:hover {
  background-color: #585959;
  color: white;
  border-radius: 20px;
}

.detailSearchList {
  position: absolute;
  top: 95px;
  transform: translate(50%, 0);
  width: 50vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  z-index: 2;
  overflow-y: scroll;
}

.DSHide {
  display: none;
}

.detailSearchList_inner {
  border-radius: 20px;
}

.closeIcon_container {
  margin: 10px;
}

.detailconditions {
  padding: 10px 20px;
}

.price_container_outer {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price_container {
  margin: 0 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.price_container > input {
  border: 0;
  outline: none;
}

.housetype_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.housetype_list input,
.condition_4 input {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.housetype_list > div,
.condition_3 > div,
.infer_list > div {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: medium;
}

.detailSearchList h2 {
  padding-top: 25px;
}

.condition_3 input {
  margin-left: 25px;
  width: 150px;
  height: 25px;
}

.infer_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detailsearchBtn_con {
  margin: 10px 0;
  display: flex;
  justify-content: end;
}

.detailsearchBtn_con > button {
  margin: 4px 4px 4px 12px;
  padding: 0 24px;
  border: 0;
  background: #1a73e8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
}

.dummyDiv {
  height: 90px;
}

/* footer */
footer {
  background-color: #f2f0eb;
  width: 100%;
  height: 48px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

footer > p {
  margin: 0 20px;
}

footer a {
  cursor: pointer;
}
